.moreDetails-container {
    background-color: #fff;
    color: #000;
    .moreDetails-content {
        background-color: #fff;
        width: 1107px;
        margin: auto;
        padding: 82px 0 90px 0;

        .title {
            font-family: "Raleway";
            font-weight: 600;
        }
        h3 {
            font-family: "Inter 18pt";
            font-weight: bold;
            line-height: normal;
        }

        .conetnt-box {
            font-family: "Inter 18pt";
            border-top: 1px solid #e8e5e5;
            padding: 40px 24px;
            position: relative;
            transition: all 0.3s ease-in-out;

            &.active {
                background-color: #0A2C8C;
                color: white;
                transition: all 0.3s ease-in-out;
            }

            &::after {
                content: "";
                width: 2px;
                height: 100%;
                position: absolute;
                left: 0;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0) 2%, rgba(232, 229, 229, 1) 100%);
                top: 0;
            }

            &:last-child::before {
                content: "";
                width: 2px;
                height: 100%;
                position: absolute;
                right: 0;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0) 2%, rgba(232, 229, 229, 1) 100%);
                top: 0;
            }

            img {
                width: 255px;
                height: 255px;
            }
        }
    }
}
