.moreDetails-container {
    background-color: #fff;
    color: #000;
    .moreDetails-content {
        background-color: #fff;
        width: 1107px;
        margin: auto;
        padding: 82px 0 185px 0;
        border: 1px solid red;
    }
}
