.team-container {
    width: 1425px;
    @media screen and (min-width: 320px) and (max-width: 1440px) {
        width: 85%;
    }
    margin: 0 auto 0 auto;
    padding-bottom: 190px;
    font-family: "Inter 18pt";
    @media screen and (max-width: 768px) {
        padding-bottom: 100px;
     }
    .service-item {
        border: 0.5px solid #fff;
        color: #fff;
        h2 {
            font-weight: 600;
            margin: 0 0 10px 0;
            font-size: 20px;
        }
        h3 {
            font-weight: 600;
            font-size: 16px;
        }
        img {
            width: 410px;
            height: 385px;

            @media screen and (min-width: 320px) and (max-width: 1350px) {
                width: auto;
                height: auto;
            }
        }
    }
}
