.team-container{
    width: 1425px;
    margin: 0 auto 0 auto;
    padding-bottom: 190px;
    font-family: 'Inter 18pt';
    .service-item{
        border: 0.5px solid #FFF;
        color: #FFF;
        h2{
            font-weight: 600;
            margin: 0 0 10px 0;
            font-size: 20px;
        }
        h3{
            font-weight: 600;
            font-size: 16px;
        }
        img{
            width: 410px;
            height: 385px;
        }
    }
}