body {
    color: #fff;
    overflow-x: hidden;
    background-color: #04135b;
}

:root {
    --default-bg: #04135b;
    --container-width: 90vw; /* Default for smaller screens */
}

@media (min-width: 1200px) {
    :root {
        --container-width: 90%; /* Large screens */
    }
}

@media (min-width: 1400px) {
    :root {
        --container-width: 90%; /* Extra-large screens */
    }
}

@media (min-width: 1600px) {
    :root {
        --container-width: 90%; /* Wider screens */
    }
}

@media (min-width: 1800px) {
    :root {
        --container-width: 1795px; /* Your original max width */
    }
}

.envo-btn {
    background-color: #ff693b;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.3s ease;

    &:hover {
        background-color: #ea6b44;
    }

    &:active {
        transform: scale(0.95);
    }

    &.outline {
        color: #fff;
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }
    }
}

.contactContainer {
    background-image: url(../../../public/bg/footer-bottom.svg), url(../../../public/bg/footer-cricle-left.svg),
        url(../../../public/bg/footer-cricle-right.svg);
    background-repeat: no-repeat;
    background-position: bottom center, 11% center, right 10% center;
}

.top-section {
    background-image: url(../../../public/bg/ssss.svg), url(../../../public/bg/test.svg),
        url(../../../public/bg/header-bottom.svg), url(../../../public/bg/header-circle-bottom.svg),
        url(../../../public/bg/header-circle-right.svg);
    background-repeat: no-repeat;
    background-position: top, top, bottom, bottom, right bottom 15%;
}

.slick-prev,
.slick-next {
    bottom: -95px;
    margin: auto;
    top: inherit !important;
    left: 0 !important;
    right: 0 !important;
    width: 34px !important;
    height: 34px !important;
    border: 1px solid #4580ff !important;
    border-radius: 6px;
    background-repeat: no-repeat !important;
    background-position: center !important;

    @media screen and (max-width: 768px) {
        bottom: -70px;
     }
    &::before {
        display: none !important;
    }
    &:hover {
        background-color: #ff693b !important;
        border: 1px solid #ff693b !important;
    }
}
.slick-next {
    background-image: url(../../../public/icon/next-arrow.svg) !important;
    left: -65px !important;
    &:hover {
        background-image: url(../../../public/icon/next-arrow-active.svg) !important;
    }
}
.slick-prev {
    background-image: url(../../../public/icon/prev-arrow.svg) !important;
    right: -65px !important;
    &:hover {
        background-image: url(../../../public/icon/prev-arrow-active.svg) !important;
    }
}

.teamContentSlider {
    .slick-next {
        left: -65px !important;
    }
    .slick-prev {
        right: -65px !important;
    }
}
