body {
    color: #fff;
    overflow-x: hidden;
    background-color: #04135b;
}

:root {
    --default-bg: #04135b;
    --container-width: 1795px;
}
.envo-btn {
    background-color: #ff693b;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.2s ease, background-color 0.3s ease;

    &:hover {
        background-color: #ea6b44;
    }

    &:active {
        transform: scale(0.95);
    }

    &.outline {
        color: #fff;
        background-color: transparent;

        &:hover {
            background-color: transparent;
        }
    }
}

.contactContainer {
    background-image: url(../../../public/bg/footer-bottom.svg), url(../../../public/bg/footer-cricle-left.svg),
        url(../../../public/bg/footer-cricle-right.svg);
    background-repeat: no-repeat;
    background-position: bottom center, 11% center, right 10% center;
}

.top-section {
    background-image: url(../../../public/bg/ssss.svg), url(../../../public/bg/test.svg),
        url(../../../public/bg/header-bottom.svg), url(../../../public/bg/header-circle-bottom.svg),
        url(../../../public/bg/header-circle-right.svg);
    background-repeat: no-repeat;
    background-position: top, top, bottom, bottom, right bottom 15%;
}
